<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace=" ~{ /fragments/head :: head }">

<body class="sub_page">

<div class="hero_area">
    <div class="bg-box">
        <img src="/images/nav-bg.png" alt="">

    </div>

    <!--    <header th:replace="~{ /fragments/header :: header }"></header>-->
    <header th:replace=" ~{ /fragments/header :: header }"></header>
</div>


<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Danger</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a id="delete" th:href="@{'/posts/' + ${post.id} + '/delete' }" class="btn btn-danger btn-lg active"
                   role="button" aria-pressed="true">Delete</a>
            </div>
        </div>
    </div>
</div>

<!-- about section -->

<section class="about_section layout_padding">
    <div class="container  ">
        <div class="posts">
            <h3> <a th:text="${post.title}">
                title
            </a>
            </h3>
            <h5
                    th:text="'Author: ' + ${post.account.firstName} + ' | Created At : ' + ${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm')}
                                +' | Updated At : ' + ${#temporals.format(post.updatedAt, 'yyyy-MM-dd HH:mm')}"></h5>
            <p th:utext="${post.body}">body</p>
            <hr color="grey"/>
            <div th:if="${isOwner}">
            <a  th:href="@{'/posts/' + ${post.id} + '/edit' }" class="btn btn-secondary btn-lg active"
               role="button"
                aria-pressed="true">Edit</a> |
                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModalCenter">
                    Delete
                </button>

            </div>
        </div>

    </div>
</section>

<!-- end about section -->

<footer th:replace=" ~{ /fragments/footer :: footer }"></footer>



</body>

</html>