<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace=" ~{ /fragments/head :: head }"></head>

<body class="sub_page">

<div class="hero_area">
    <div class="bg-box">
        <img th:src="@{/images/nav-bg.png}" alt="">

    </div>

    <!--    <header th:replace="~{ /fragments/header :: header }"></header>-->
    <header th:replace=" ~{ /fragments/header :: header }"></header>
</div>

<!-- book section -->
<section class="book_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h4>
                Login
            </h4>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form_container">
                    <form action="#"
                          th:action="@{/login}"
                          method="post">
                        <div>
                            <input id="email" name="email" type="email"  class="form-control"
                                   placeholder="Email" required />
                        </div>
                        <div>
                            <input id="password" name="password" type="password" class="form-control"
                                   placeholder="Password" required/>
                        </div>

                        <div class="btn_box">
                            <button type="submit">
                                Login
                            </button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- end book section -->

<!-- end about section -->

<footer th:replace=" ~{ /fragments/footer :: footer }"></footer>



</body>

</html>