<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace=" ~{ /fragments/head :: head }">

<body class="sub_page">

<div class="hero_area">
    <div class="bg-box">
        <img src="/images/nav-bg.png" alt="">

    </div>

    <!--    <header th:replace="~{ /fragments/header :: header }"></header>-->
    <header th:replace=" ~{ /fragments/header :: header }"></header>
</div>

<!-- about section -->

<section class="book_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h4>
                Profile
            </h4>
            <img th:src="@{${photo}}" class="rounded-circle"
                 style="width: 150px; float: left; padding: 10px 10px 10px 10px;" alt="Avatar"/>

            <p th:text="${error}" th:if="${error ne null}" class="alert alert-danger"></p>
            <form method="post" th:action="@{/update_photo}" enctype="multipart/form-data">
                <div class="form-group">
                    <input type="file" name="file" class="form-control-file">
                </div>
                <button type="submit" class="btn btn-primary">
                    Update photo
                </button>
            </form>

        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form_container">
                    <form action="#"
                          th:action="@{profile}"
                          th:object="${account}"
                          method="post">
                        <div>
                            <input type="hidden" id="id" name="id" th:field="*{id}">
                            <input id="email" name="email" type="email" th:field="*{email}" class="form-control"
                                   placeholder="Email" required/>
                            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert alert-danger"
                               role="alert">Email Error</p>
                        </div>

                        <div>
                            <input id="password" type="password" th:field="*{password}" class="form-control"
                                   placeholder="Password" required/>
                            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                               class="alert alert-danger" role="alert">password Error</p>
                        </div>

                        <div>
                            <input id="firstName" type="text" th:field="*{firstName}" class="form-control"
                                   placeholder="First Name" required/>
                            <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                               class="alert alert-danger" role="alert">firstName Error</p>
                        </div>

                        <div>
                            <input id="lastName" type="text" th:field="*{lastName}" class="form-control"
                                   placeholder="Last Name" required/>
                            <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                               class="alert alert-danger" role="alert">lastName Error</p>
                        </div>

                        <div>
                            <input id="age" type="number" th:field="*{age}" min="18" max="99" class="form-control"
                                   placeholder="Age" required/>
                            <p th:if="${#fields.hasErrors('age')}" th:errors="*{age}" class="alert alert-danger"
                               role="alert">age Error</p>
                        </div>

                        <div>
                            <input id="date_of_birth" type="date" th:field="*{date_of_birth}" class="form-control"
                                   placeholder="Date of Birth" required/>
                            <p th:if="${#fields.hasErrors('date_of_birth')}" th:errors="*{date_of_birth}"
                               class="alert alert-danger" role="alert">date_of_birth Error</p>
                        </div>

                        <div>
                            <select id="gender" name="gender" th:field="*{gender}" class="form-control">
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Others">Others</option>
                            </select>

                            <p th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}" class="form-control">

                                Gender Error
                            </p>
                        </div>

                        <div class="btn_box">
                            <button type="submit">
                                Update Profile
                            </button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- end about section -->

<footer th:replace=" ~{ /fragments/footer :: footer }"></footer>


</body>

</html>