<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace=" ~{ /fragments/head :: head }"></head>

<body class="sub_page">

<div class="hero_area">
    <div class="bg-box">
        <img th:src="@{/images/nav-bg.png}" alt="">

    </div>

    <!--    <header th:replace="~{ /fragments/header :: header }"></header>-->
    <header th:replace=" ~{ /fragments/header :: header }"></header>
</div>

<!-- book section -->
<section class="book_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h4>
                Register
            </h4>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form_container">
                    <form action="#"
                          th:action="@{register}"
                          th:object="${account}"
                          method="post">
                        <div>
                            <input id="email" type="email" th:field="*{email}" class="form-control"
                                   placeholder="Email"/>
                        </div>
                        <div>
                            <input id="password" type="password" th:field="*{password}" class="form-control"
                                   placeholder="Password"/>
                        </div>
                        <div>
                            <input id="firstName" type="text" th:field="*{firstName}" class="form-control"
                                   placeholder="First Name"/>
                        </div>

                        <div class="btn_box">
                            <button type="submit">
                                Register
                            </button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- end book section -->

<!-- end about section -->

<footer th:replace=" ~{ /fragments/footer :: footer }"></footer>


</body>

</html>