<!doctype html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<!-- header section strats -->
<body>
<div class="hero_area">
    <header th:fragment="header"></header>
<header class="header_section">
    <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" th:href="@{/}">
            <span>
              Keshav Jrall
            </span>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class=""> </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav  mx-auto ">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/}">Home<span class="sr-only">(current)</span> </a>
                    </li>
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="nav-link" th:href="@{/register}">Register</a>
                    </li>
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="nav-link" th:href="@{/login}">Login</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{/profile}">Profile</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{/posts/add}">Add Post</a>
                    </li>


                    <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                        <a class="nav-link" th:href="@{/admin}">admin</a>
                    </li>
<!--                    <li class="nav-item" sec:authorize="hasAuthority('ACCESS_ADMIN_PANEL')">-->
<!--                        <a class="nav-link" th:href="@{/admin}">admin</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_EDITOR')">-->
<!--                        <a class="nav-link" th:href="@{/admin}">admin</a>-->
<!--                    </li>-->
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{/logout}">Logout</a>
                    </li>

                </ul>

            </div>
        </nav>
    </div>
</header>
<!-- end header section -->

</div>
</body>
