<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace=" ~{ /fragments/head :: head }"></head>

<body class="sub_page">

<div class="hero_area">
    <div class="bg-box">
        <img src="images/nav-bg.jpg" alt="">

    </div>

    <!--    <header th:replace="~{ /fragments/header :: header }"></header>-->
    <header th:replace=" ~{ /fragments/header :: header }"></header>
</div>

<!-- about section -->

<section class="about_section layout_padding">
    <div class="container  ">


    </div>
</section>

<!-- end about section -->

<footer th:replace=" ~{ /fragments/footer :: footer }"></footer>



</body>

</html>